<div class="bloc-meteo">

<div class="couleurMeteo mise-en-forme-arrondi container">
    <br><h1>METEO</h1><br>

      <form id="form">
        <label id="value"><p>Choisissez une ville</p>
         <!--  <input type="text" id="value" placeholder="Saisissez un texte" /> -->
         <select class="couleurMeteo mise-en-forme-arrondi" id="selection">
             <option value="paris">Paris</option>
             <option value="marseille">Marseille</option>
             <option value="lyon">Lyon</option>
             <option value="toulouse">Toulouse</option>
             <option value="toulon">Toulon</option>
             <option value="nice">Nice</option>
             <option value="nantes">Nantes</option>
             <option value="strasbourg">Strasbourg</option>
             <option value="montpellier">Montpellier</option>
             <option value="bordeaux">Bordeaux</option>
             <option value="lille">Lille</option>
             <option value="rennes">Rennes</option>
             <option value="reims">Reims</option>
             <option value="dijon">Dijon</option>
             <option value="dunkirk">Dunkirk</option>
             <option value="strasbourg">Strasbourg</option>
             <option value="mulhouse">Mulhouse</option>
         </select>
        </label>
        <input class="texte-en-gras couleurMeteo mise-en-forme-arrondi" id="boutonEnvoyer" (click)="lancerMeteo()" type="submit" value="OK" />
      </form><br />
      <div><p class="texte-en-gras" id="result">{{ nom_ville }}</p></div>

    <table cellspacing="0">

      <thead  class="">
          <tr>
              <!-- <th colspan="">The table header</th> -->
          <th colspan=""  class="long_tab texte-en-gras">{{ cle_description }}</th>
          <!-- <th colspan=""  class="long_tab bordure">J + 1</th> -->
          <!-- <th colspan=""  class="long_tab bordure">J + 2</th> -->
          <!-- <th colspan=""  class="long_tab bordure">J + 3</th> -->
          <!-- <th colspan=""  class="long_tab bordure">J + 4</th> -->

          </tr>
      </thead>

      <tbody class="">
      <tr class="ligne_meteo_0">
          <td  class="long_tab"><img class="NGS_image_meteo" src="{{ cle_url_icone }}"></td>
          <!-- <td  class="long_tab bordure"><img /></td> -->
          <!-- <td  class="long_tab bordure"><img /></td> -->
          <!-- <td  class="long_tab bordure"><img /></td> -->
          <!-- <td  class="long_tab bordure"><img /></td> -->
      </tr>

          <tr class="ligne_meteo_a">
          <td  class="long_tab texte-en-gras">{{ cle_temp_actuel }}</td>
          <!-- <td  class="long_tab bordure">-</td> -->
          <!-- <td  class="long_tab bordure">-</td> -->
          <!-- <td  class="long_tab bordure">-</td> -->
          <!-- <td  class="long_tab bordure">-</td> -->
          </tr>

      <tr class="ligne_meteo_1">
          <td  class="long_tab texte-en-gras">{{ cle_temp_max }}</td>
          <!-- <td  class="long_tab bordure">-</td> -->
          <!-- <td  class="long_tab bordure">-</td> -->
          <!-- <td  class="long_tab bordure">-</td> -->
          <!-- <td  class="long_tab bordure">-</td> -->
      </tr>
      <tr class="ligne_meteo_2">
          <td  class="long_tab texte-en-gras">{{ cle_temp_min }}</td>
          <!-- <td  class="long_tab bordure">-</td> -->
          <!-- <td  class="long_tab bordure">-</td> -->
          <!-- <td  class="long_tab bordure">-</td> -->
          <!-- <td  class="long_tab bordure">-</td> -->
      </tr>
      </tbody>
</table>
<br>
</div>

</div>
