.couleurMeteo
{
	background-color: #3ABEFF;
}
.texte-en-gras
{
	font-weight: bold;
}
.mise-en-forme-arrondi
{
	border-radius: 20px;
}
img
{
	max-width: 100%;
}
body, tr, th, td
{
	box-sizing: border-box;
	margin: 0px;
	width: 100%;
}

p
{
	text-align: justify;
	width: 100%;
	color: black;
}

.bordure
{
	border: solid black 1px;
}

.back_blue
{
	background-color: #008080;
}

.long_tab
{
	min-width: 80px;
	max-width: 200px;
	text-align: left;
}
.centrage_GD
{
	margin-left: 30%;
	max-width: 90%;
}
.NGS_image_meteo
{
    max-width: 42px;
    max-height: 42px;
    filter: drop-shadow(0px 0px 1px #000);
}
.bloc-meteo
{
	min-width: 200px;
	max-width: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}