<div class="bg-light NGSwidth">
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="mx-auto container">
  
      <div class="container" id="navbarNavAltMarkup">
        <div class="d-flex flex-row justify-content-around">

        <app-header-meteo class="nav-justified">
        </app-header-meteo>

        <div class="nav-justified">
          <a class="nav-link active" aria-current="page" routerLink="/accueil" 
          (click)="onCategorieSubmitted()">
            <img src="assets/all-content/icons/home3.png"> Accueil</a>
        </div>
  
        <div class="nav-justified">
          <a class="nav-link" routerLink="/afficherlogin">
            <img src="assets/all-content/icons/protect.png"> Compte</a>
        </div>
        
        <div class="nav-justified">
          <a class="nav-link" routerLink="/afficherpanier">
            <img src="assets/all-content/icons/carts.png"> Panier <span class="badge bg-secondary">114</span> </a>
        </div>  
        
        </div>
      </div>
  
    </div>
  
  </nav>
</div>