<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="mx-auto container">
  
      <div class="container" id="navbarNavAltMarkup">
        <div class="d-flex flex-row justify-content-around">
        <div class="nav-justified">
          <a class="nav-link active" aria-current="page" href="#"><img src="assets/all-content/icons/home3.png">Acceuil</a>
        </div>
  
        <div class="nav-justified">
          <a class="nav-link" href="#"><img src="assets/all-content/icons/protect.png">Compte</a>
        </div>
        
        <div class="nav-justified">
          <a class="nav-link" href="#"><img src="assets/all-content/icons/carts.png">Panier <span class="badge bg-secondary">8</span> </a>
        </div>  
        </div>
      </div>
  
    </div>
  
  </nav>
