<div class="container">
        <div class="row">
          <!--deux colonnes. Une des colonnes affichera une liste d'éléments avec les prix, et l'autre colonne aura une div Total-->
              <div class="col-xs-7 col-md-8 col-sm-8 col-lg-8">
                  <div class="panel panel-primary">
                      <div class="panel-heading">
                          <h3 class="panel-title">Details du Livre</h3>
                      </div>


                    <!--DIV Parent1-->
                     <div class="panel-body d-flex">

                      <!--DIV Enfant1-->
                    <div class="bordure-image"><img class="col tailleDeImage" src="assets/all-content/albums/Boule et bill-13-Album 13.jpg"></div>
                     <!--DIV Enfant2-->
                    <div class="bordure-image text-center">
                            <div class="radio  bordure-gauche col">
                                 Nom de l'Auteur
                            </div>
                            <div class="radio">
                                Titre du Livre
                            </div>
                            <div class="radio">
                                Numéro de TOME
                          </div>
                          <div class="radio">
                               Serie
                         </div>
                         <div class="radio">
                               Prix
                         </div>
                         <button class="btn btn-outline-warning">Ajouter au panier</button>
                    </div> 
                    <!--DIV Enfant3-->
                    

                      
                    </div>
                      


                     






                  </div>
              </div>


        </div>
    </div>
 
