
.verification{
    border: solid 1px black;
}
.remplacement{
    height: 20px;
}
.NGSlimite_largeur
{
    max-width: 100%;
}
.NScentrage_G_D
{
	margin: auto;
}
.NGSjustify-content-center
{
    justify-content: center;
    text-align: center;
}
.NGS_flex1
{
    flex: 1;
}