.NGScontainer 
{
    width: 100%;
}
.NGSbordure
{
	border: solid 1px black;
}
.NGSboxzize
{
    box-sizing: border-box;
}
.NGSpicture
{
    max-width: 100%;
}
.NGSminiature
{
    min-width: 130px;
    max-width: 150px;
    border-left: 10%;
}
.NScentrage_G_D
{
	margin: auto;
}
.NGSjustify-content-center
{
    justify-content: center;
}