<div class="d-flex flex-row">
    
    <div>
    <a class="nav-link active" aria-current="page" routerLink="/detailMeteo">
    <img class="NGS_image_meteo" src="{{ icone_meteo_header_url }}"></a>
    </div>

 <!--     
    <div>
        <select name="Paris">
            <option value="Paris">Paris</option>
            <option value="Paris">Paris</option>
            <option value="Paris">Paris</option>
        </select>
        <span> 27°</span>
        <span> Ensolleillé </span>
    </div> -->

</div>